In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [4]:
# data files
multi_df = pd.read_csv('../Resources/Multi/CLEAN.csv')
multi = multi_df['_id']
multi_df.head()

,Apple,Disney+,Genres,HBO,Hulu,IMDb,Netflix,Prime Video,Rotten Tomatoes,Title,Year,_id
0,False,False,"Biography,Crime,Drama",False,False,7.8,True,False,98.0,The Irishman,2019,616528458a2fde8299a2aa91
1,False,False,"Documentary,Biography",False,False,9.0,True,False,95.0,David Attenborough: A Life on Our Planet,2020,616528458a2fde8299a2aa93
2,False,False,"Documentary,Drama",False,False,7.6,True,False,93.0,The Social Dilemma,2020,616528458a2fde8299a2aa97
3,False,False,"Drama,History,Thriller",False,False,7.8,True,False,92.0,The Trial of the Chicago 7,2020,616528458a2fde8299a2aa9a
4,False,False,"Crime,Drama,Mystery,Thriller",False,False,8.2,True,False,92.0,Article 15,2019,616528458a2fde8299a2aa9b

In [12]:
apple = multi_df["Apple"].value_counts()
disney = multi_df["Disney+"].value_counts()
hbo = multi_df["HBO"].value_counts()
hulu = multi_df["Hulu"].value_counts()
netlix = multi_df["Netflix"].value_counts()
prime = multi_df["Prime Video"].value_counts()
print (apple)
print(disney)
print(hbo)
print(hulu)
print(netlix)
print(prime)

False    1978
True       10
Name: Apple, dtype: int64
False    1863
True      125
Name: Disney+, dtype: int64
False    1929
True       59
Name: HBO, dtype: int64
False    1709
True      279
Name: Hulu, dtype: int64
True     1079
False     908
Name: Netflix, dtype: int64
False    1524
True      464
Name: Prime Video, dtype: int64

In [13]:
multi_df.dtypes

Apple               object
Disney+             object
Genres              object
HBO                 object
Hulu                object
IMDb               float64
Netflix             object
Prime Video         object
Rotten Tomatoes    float64
Title               object
Year                 int64
_id                 object
dtype: object

In [ ]:
multi_df[["Year", "Inches"]].set_index("State").plot()

In [5]:
# Dataset 1
services = ["Apple", "Disney+", "HBO", "Hulu","Netflix","Prime Video"]
most ranked = [49, 92, 84, 53]
colors = ["yellowgreen", "red", "lightcoral", "lightskyblue"]
explode = (0, 0.05, 0, 0)

SyntaxError: invalid syntax (<ipython-input-5-16ee90db1554>, line 3)